.App {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #1d1e22
}

.characterSelection {
    background-color: beige;
    border-radius: 8px;
    margin: 20px 0px;
}

.h1Type1 {
    position: absolute;
    top: 10px;
}

.h1Type2 {
    margin-bottom: 10px;
}

input {
    width: 10vw;
}

.characterSelection {
    display: flex;
    flex-direction: row;
}